<div data-ng-controller="showcase.ShowcaseController">
    <tabset type="pills">
        <tab ng-repeat="showcase in showcases"
             heading="{{showcase.label}}"
             active="showcase.active"
             disabled="showcase.disabled"
             ng-click="showcaseSelected(showcase)"
                ></tab>
    </tabset>
    <aside class="showcase-sidebar"
           data-ui-view="demos"></aside>
    <section class="showcase-detail"
           data-ui-view="detail"></section>
</div>
