<ul class="dropdown-menu theme-menu" data-ng-controller="theme.themeController">
    <li role="presentation"
        data-ng-repeat="theme in themes"
        data-ng-class="{active: theme.active, disabled: theme.disabled}"
        ng-click="selectTheme(theme)">
        <a role="menuitem">{{theme.heading}}</a>
    </li>
    <li class="divider"></li>
    <li>
        <a target="_blank" href="http://bootswatch.com">
            <span class="glyphicon glyphicon-new-window"></span>
            Themes<br/>by bootswatch.com
        </a>
    </li>
</ul>
