<!doctype html>
<html lang="en" data-ng-app="AngularChromeAppShowcase" data-ng-csp data-ng-controller="angulared.AppController">
<head>
    <meta charset="utf-8">
    <title>{{appInfo.name}} ({{appInfo.version}})</title>

    <link id="theme" rel="stylesheet" href="components/bootswatch/{{appInfo.theme.name}}/bootstrap.min.css">
    <link rel="stylesheet" href="components/angular/angular-csp.css">
    <link rel="stylesheet" href="app.css">

</head>
<body >
    <header class="{{nav.name}}">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="brand navbar-brand">{{appInfo.brand}}</a>
                </div>
                <tabset type-override="void navbar-nav" class="navbar-left navbar-collapse collapse ">
                    <tab ng-repeat="item in nav.items"
                         active="tab.active"
                         disabled="tab.disabled"
                         select="navItemSelected(item)">
                        <tab-heading>
                            <span class="glyphicon glyphicon-{{item.glyph}}"></span>{{item.heading}}
                        </tab-heading>
                    </tab>
                </tabset>
                <tabset type-override="void navbar-nav" class="navbar-right navbar-collapse collapse {{nav.name}}">
                    <tab ng-repeat="item in nav.menus"
                         active="tab.active"
                         disabled="tab.disabled"
                         select="navMenuSelected(item)">
                        <tab-heading>
                            <span class="glyphicon glyphicon-{{item.glyph}}"></span>{{item.heading}}
                        </tab-heading>
                    </tab>
                    <tab>
                        <tab-heading>
                            <a role="button" class="dropdown-toggle"><span class="glyphicon glyphicon-wrench"></span>{{item.heading}}</a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a ng-repeat="theme in themes" ng-click="themeSelected(theme)">{{theme.heading}}</a></li>
                                <li class="divider"></li>
                                <li><a target="_blank" ui-sref="http://bootswatch.com" ><span class="glyphicon glyphicon-new-window"></span>Themes<br />by bootswatch.com</a></li>
                            </ul>
                        </tab-heading>
                    </tab>
                </tabset>
            </div>
        </nav>
    </header>

    <section data-ui-view class="main-ui-pane"></section>

    <footer>

    </footer>

    <!-- @todo <script type="text/javascript" src='components/closure-library/closure/goog/base.js'></script> -->
    <script type="text/javascript" src='components/jquery/jquery-2.1.0.js'></script>
    <script type="text/javascript" src='components/angular/angular.min.js'></script>
    <script type="text/javascript" src='components/angular/angular-route.min.js'></script>
    <script type="text/javascript" src='components/angular/angular-resource.min.js'></script>
    <script type="text/javascript" src='components/angular/angular-sanitize.min.js'></script>
    <script type="text/javascript" src='components/angular-ui/ui-router/angular-ui-router.min.js'></script>
    <script type="text/javascript" src='components/angular-ui/bootstrap/ui-bootstrap-0.10.0.custom.js'></script>
    <script type="text/javascript" src='app.js'></script>
    <script type="text/javascript" src='info/info-service.js'></script>
    <script type="text/javascript" src='app-controller.js'></script>
    <script type="text/javascript" src='showcase/showcase-controller.js'></script>
    <script type="text/javascript" src='home/home-controller.js'></script>
    <script type="text/javascript" src='showcase/angular-ui-bootstrap/accordian/accordion-controller.js'></script>
    <script type="text/javascript" src='showcase/angular-ui-bootstrap/alert/alert-controller.js'></script>
</body>
</html>
