<nav class="navbar navbar-default " role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="brand navbar-brand">
        <span class="navbar-brand-text">{{nav.brand}}</span>
      </a>
    </div>
    <ul class="nav navbar-nav" >
      <li
        data-ng-repeat="item in nav.items"
        data-ng-class="{active:item.active, disabled:item.disabled}"
        dropdown
        >
        <a role="button" ng-if="hasDropdownMenu(item)" class="dropdown-toggle">
          <span class="glyphicon glyphicon-{{item.glyph}}"></span>
          <span>{{item.heading}} <b class="caret"></b></span>
        </a>
        <ng-include ng-if="hasDropdownMenu(item)" src="getDropdownMenuTemplateUrl(item)"></ng-include>
        <a ng-click="navItemSelected(item)"
          role="button" ng-if="!hasDropdownMenu(item)">
            <span class="glyphicon glyphicon-{{item.glyph}}"></span>
            <span>{{item.heading}}</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- /.container-fluid -->
</nav>
